.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  min-height: calc(100vh - 64px);
}

button.active {
  background-color: rgba(255, 255, 255, 0.1);
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}


